{% extends 'homepage/base.html' %}
{% load static %}

{% block content %}

       <!-- courses section-->
       <section class="mt-5 mb-5">
        <div class="container">
            <div class="row">
                <h2 class="text-center">Our Courses</h2>
            </div>
            <div class="row mt-5">
                <div class="col-lg-4">
                    <div class="single-courses-box-border">
                        <div class="icon">
                            <img src="{% static 'homepage/image/courses/civil.png' %}" width="78px" height="60px" class="img-fluid" alt="">
                            <h3>Civil Engineering</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Varius sit amet mattis vulputate.</p>
                            <div class="buttons">
                                <a href="#" class="button3">Read More<i class="bi bi-arrow-right-circle-fill"></i> </a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="single-courses-box-border">
                        <div class="icon">
                            <img  src="{% static 'homepage/image/courses/computer_engineering.png' %}" width="78px" height="60px"
                                class="img-fluid" alt="">
                            <h3>Diploma in IT</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Varius sit amet mattis vulputate.</p>
                            <div class="buttons">
                                <a href="#" class="button3">Read More<i class="bi bi-arrow-right-circle-fill"></i> </a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="single-courses-box-border">
                        <div class="icon">
                            <img   src="{% static 'homepage/image/courses/computer_engineering.png' %}" width="78px" height="60px"
                                class="img-fluid" alt="">
                            <h3>Computer Engineering</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Varius sit amet mattis vulputate.</p>
                            <div class="buttons">
                                <a href="#" class="button3">Read More<i class="bi bi-arrow-right-circle-fill"></i> </a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="single-courses-box-border">
                        <div class="icon">
                            <img src="{% static 'homepage/image/courses/IT.png' %}" width="78px" height="60px" class="img-fluid" alt="">
                            <h3>Information Technology</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Varius sit amet mattis vulputate.</p>
                            <div class="buttons">
                                <a href="#" class="button3">Read More<i class="bi bi-arrow-right-circle-fill"></i> </a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="single-courses-box-border">
                        <div class="icon">
                            <img   src="{% static 'homepage/image/courses/research.png' %}" width="78px" height="60px" class="img-fluid" alt="">
                            <h3>Reserch</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Varius sit amet mattis vulputate.</p>
                            <div class="buttons">
                                <a href="#" class="button3">Read More<i class="bi bi-arrow-right-circle-fill"></i> </a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="single-courses-box-border">
                        <div class="icon">
                            <img  src="{% static 'homepage/image/courses/software.png' %}"  width="78px" height="60px" class="img-fluid" alt="">
                            <h3>Software Engineering</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Varius sit amet mattis vulputate.</p>
                            <div class="buttons">
                                <a href="#" class="button3">Read More<i class="bi bi-arrow-right-circle-fill"></i> </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
 
{% endblock content %}
