{% extends 'homepage/base.html' %}
{% load static %}

{% block content %}
   
    <!-- couressel start -->
    <section class="hero" id="hero">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-background">
                        <img  src="{% static 'homepage/image/slider/slider_1.jpg' %}" alt="">
                    </div>
                    <div class="carousel-container">
                        <div class="carousel-content-container">
                            <h2>MACHAKOS VOCATIONAL TRAINING CENTER
                            </h2>
                            <p>Empowering individuals with practical skills and knowledge, fostering self-reliance. </p>
                            <div class="button">
                                <a href="" class="btn1">Our services</a>
                                <a href="{% url 'login_user' %}" class="btn1">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-background">
                        <img  src="{% static 'homepage/image/slider/slier_2.jpg' %}" alt="">
                    </div>
                    <div class="carousel-container">
                        <div class="carousel-content-container">
                            <h2>Self perform expertise</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Varius sit amet mattis vulputate. Aenean pharetra magna
                                ac
                                placerat vestibulum lectus mauris. </p>
                            <div class="button">
                                <a href="" class="btn1">Our services</a>
                                <a href="{% url 'login_user' %}" class="btn1">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <!-- feature info section -->
    <section class="feature mt-5 mb-5">
        <div class="continer">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="main-feature-box">
                        <div class="icon">
                            <i class="bi bi-house-door-fill"></i>
                        </div>
                        <h3>Professional Teachers</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Varius sit amet mattis vulputate.</p>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="main-feature-box">
                        <div class="icon">
                            <i class="bi bi-align-center"></i>
                        </div>
                        <h3>Quality Education</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Varius sit amet mattis vulputate.</p>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="main-feature-box">
                        <div class="icon">
                            <i class="bi bi-award-fill"></i>
                        </div>
                        <h3>Always on Time</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Varius sit amet mattis vulputate.</p>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="main-feature-box">
                        <div class="icon">
                            <i class="bi bi-bank"></i>
                        </div>
                        <h3>We are passionate</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Varius sit amet mattis vulputate.</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Feature info section -->
    <!-- About section Start -->
    <section class="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 d-none d-lg-flex">
                    <img  src="{% static 'homepage/image/about/about.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-md-6">
                    <div class="about-content">
                        <span>About Us</span>
                        <h2>Welcome To MVTC</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Varius sit amet mattis vulputate.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Varius sit amet mattis vulputate.</p>
                        <div class="buttons">
                            <a href="#" class="button3">Read More<i class="bi bi-arrow-right-circle-fill"></i> </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <!-- About Section Start -->
    <!-- courses section-->
    <section class="mt-5 mb-5">
        <div class="container">
            <div class="row">
                <h2 class="text-center">Our Courses</h2>
            </div>
            <div class="row mt-5">
                <div class="col-lg-4">
                    <div class="single-courses-box-border">
                        <div class="icon">
                            <img src="{% static 'homepage/image/courses/civil.png' %}" width="78px" height="60px" class="img-fluid" alt="">
                            <h3>Civil Engineering</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Varius sit amet mattis vulputate.</p>
                            <div class="buttons">
                                <a href="#" class="button3">Read More<i class="bi bi-arrow-right-circle-fill"></i> </a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="single-courses-box-border">
                        <div class="icon">
                            <img  src="{% static 'homepage/image/courses/computer_engineering.png' %}" width="78px" height="60px"
                                class="img-fluid" alt="">
                            <h3>Diploma in IT</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Varius sit amet mattis vulputate.</p>
                            <div class="buttons">
                                <a href="#" class="button3">Read More<i class="bi bi-arrow-right-circle-fill"></i> </a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="single-courses-box-border">
                        <div class="icon">
                            <img   src="{% static 'homepage/image/courses/computer_engineering.png' %}" width="78px" height="60px"
                                class="img-fluid" alt="">
                            <h3>Computer Engineering</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Varius sit amet mattis vulputate.</p>
                            <div class="buttons">
                                <a href="#" class="button3">Read More<i class="bi bi-arrow-right-circle-fill"></i> </a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="single-courses-box-border">
                        <div class="icon">
                            <img src="{% static 'homepage/image/courses/IT.png' %}" width="78px" height="60px" class="img-fluid" alt="">
                            <h3>Information Technology</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Varius sit amet mattis vulputate.</p>
                            <div class="buttons">
                                <a href="#" class="button3">Read More<i class="bi bi-arrow-right-circle-fill"></i> </a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="single-courses-box-border">
                        <div class="icon">
                            <img   src="{% static 'homepage/image/courses/research.png' %}" width="78px" height="60px" class="img-fluid" alt="">
                            <h3>Reserch</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Varius sit amet mattis vulputate.</p>
                            <div class="buttons">
                                <a href="#" class="button3">Read More<i class="bi bi-arrow-right-circle-fill"></i> </a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="single-courses-box-border">
                        <div class="icon">
                            <img  src="{% static 'homepage/image/courses/software.png' %}"  width="78px" height="60px" class="img-fluid" alt="">
                            <h3>Software Engineering</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Varius sit amet mattis vulputate.</p>
                            <div class="buttons">
                                <a href="#" class="button3">Read More<i class="bi bi-arrow-right-circle-fill"></i> </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Courses section -->
    <!-- Why us-->
    <section class=" choose mt-5 mb-5">
        <div class="container">
            <div class="row">
                <h2 class="text-center mb-5">Why Choose MVTC</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="choose-item border">
                        <img src="{% static 'homepage/image/offer/profesionalTeacher.jpg' %}"  class="img-fluid" alt="">
                    </div>
                    <div>
                        <h3>Professional Teacher</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Varius sit amet mattis vulputate.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="choose-item border">
                        <img  src="{% static 'homepage/image/offer/project_baced_study.jpg' %}"  class="img-fluid" alt="">
                    </div>
                    <div>
                        <h3>Project Based Study</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Varius sit amet mattis vulputate.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="choose-item border">
                        <img  src="{% static 'homepage/image/offer/real-worl_development.jpg' %}"  class="img-fluid" alt="">
                    </div>
                    <div>
                        <h3>Real World Development</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Varius sit amet mattis vulputate.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
 


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
    </script>


{% endblock content %}
